body {
    font-family: 'Roboto', sans-serif; /* Updated font */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #1b31be;
    text-align: center;
    padding: 10px 0;
}

section {
    margin: 40px 0;
}

h2 {
    color: #333;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.project:hover {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
