<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Engineering Portfolio">
    <meta name="author" content="Pree Simphliphan">
    <link rel="icon" href="../../bootstrap-3.4.1/docs/pree.jpg">

    <title>Pree's Awards</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-3.4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../bootstrap-3.4.1/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../bootstrap-3.4.1/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../public/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../../index.html">Engineering-Portfolio</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="../../">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./experience">Education + Experience</a></li>
                <li class="active"><a href="./award">Awards + Certificates</a></li>
                <li><a href="./project">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <hr class="featurette-divider">
      <hr class="featurette-divider">

      <h1 align="center">Certificates</h1>
      <div class="row featurette">
          <h2 class="featurette-heading"><a href="https://drive.google.com/file/d/10vfCzWp10owhQtSTv5fGOUK9v_VS_Lh7/view?usp=sharing">Artificial Intelligence Examination</a><span class="text-muted"> Feb 2024</span></h2>
          <li class="lead">Super AI Engineer Season 4 by Artificial Intelligence Association of Thailand</li>
          <li class="lead">Skills: Artificial Intelligence (AI), Robotics, Internet of Things (IoT), Python</li> 
      </div>

      <div class="row featurette">
          <h2 class="featurette-heading"><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/8A8769A7VQ38">IBM Data Science Professional Certificate</a><span class="text-muted"> Aug 2023</span></h2>
          <li class="lead">Sub-Certificate: What is Data Science?, Tools for Data Science, Data Science Methodology, 
            Python for Data Science, AI & Developemnt, Python Project for Data Science, Databases and SQL for Data Science with Python, 
            Data Analysis with Python, Machine Learning with Python, and Applied Data Science Capstone
          </li>
          <li class="lead">Skills: Data Science, Data Analysis, Data Visualization, Python, Machine Learning, Pandas, SciPy, Scikit-learn, SQL, Cloud Database, Git, Jupyter, Dashboard and Charts</li> 
      </div>

      <hr class="featurette-divider">

      <h1 align="center">Awards</h1>
      <hr class="featurette-divider">
      <div class="row featurette">
          <h2 class="featurette-heading">Dean's List Academic Honor<span class="text-muted"> 2022 - Present</span></h2>
          <li class="lead">Boston University College of Engineering: Fall 2022, Spring 2023, Fall 2023, Spring 2024</li>
          <li class="lead">The top 30 percent of students in each class cohort with a term grade point index of at least 3.00 for all courses taken 
            with at least 12 academic unit hours of graded coursework, and have no incomplete, missing, or unresolved grades.</li>
      </div>

      <div class="row featurette">
          <h2 class="featurette-heading">3rd place Hackathon<span class="text-muted"> Oct 2023</span></h2>
          <li class="lead">3rd place BU HackHardware 2023: Bodysync Enchantatron track</li>
          <li class="lead">Smart Fan Project</li>
      </div>

      <div class="row featurette">
          <h2 class="featurette-heading">Academic Honor<span class="text-muted"> 2021 - 2022</span></h2>
          <li class="lead">Brewster Academy Academic Honor: Magna Cum Laude (Fall and Winter), Summa Cum Laude (Spring)</li>
          <li class="lead">Magna Cum Laude: grades of 90 or higher</li>
          <li class="lead">Summa Cum Laude: grades of 92 or higher, all courses must be AP or Accelerated</li>
      </div>

      <div class="row featurette">
          <h2 class="featurette-heading">AMC 12A<span class="text-muted"> 2021</span></h2>
          <li class="lead">score 118.5 (percentile 97.33), earned distinction award (Honor roll for top 5%) and made it to AIME I</li>
      </div>

      <div class="row featurette">
          <h2 class="featurette-heading">New England Math League<span class="text-muted"> 2021</span></h2>
          <li class="lead">one of 16 who got Perfect Score from 125 schools for 3 consecutive months</li>
      </div>

      <div class="row featurette">
          <h2 class="featurette-heading">Thailand Mathematics Olympiad (TMO)<span class="text-muted"> May 2019</span></h2>
          <li class="lead">1st place of Silver Medal</li>
          <li class="lead">Qualifying for top 45 students, joining the next round of Olympiad Study Camps, equivalent to MOSP and USAMO</li>
      </div>
      
      <div class="row featurette">
          <h2 class="featurette-heading">Australian National Chemistry Quiz (ANCQ)<span class="text-muted"> 2018 - 2019</span></h2>
          <li class="lead">High Distinction Certificate in grade 10-11</li>
      </div>

      <div class="row featurette">
          <h2 class="featurette-heading">International Mathematics Competition: BIMC 2018<span class="text-muted"> July 2018</span></h2>
          <li class="lead">Thailand Representative [Thailand Team D], competition held annually, the host country of 2018 was Bulgaria</li>
          <li class="lead">Silver Medal (Individual), First Runner Up (Group) , Second Runner Up (Team)</li>
      </div>

      <div class="row featurette">
          <h2 class="featurette-heading">International Junior Science Olympiad<span class="text-muted"> 2018</span></h2>
          <li class="lead">Passed examination to join the Thailand representatives final national selection 2018, but declined to attend final camp due to overlapping with the National Mathematics Camp schedule</li>
      </div>

      <hr class="featurette-divider">
      <!-- <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Teaching Assistant<span class="text-muted"> Jan 2024 - May 2024</span></h2>
          <p class="lead">Details</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div> -->

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
     <!-- FOOTER -->
     <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2024 Simphliphan, Pree</p>
    </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../bootstrap-3.4.1/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../bootstrap-3.4.1/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../bootstrap-3.4.1/docs/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../bootstrap-3.4.1/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

